*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Space Mono', monospace;
      font-weight: 700;
}
.section{
      overflow: hidden;
}
.container{
      width: 90%;
      margin: 0 auto;
}
.font-lexend{
      font-family: 'Lexend Deca';
      font-weight: 400;
}
.col-name {
      margin-top: 60px;
      font-size: 48px;
      letter-spacing: -2.14286px;
      color: #495567;
}

.col-text {
      font-size: 15px;
      line-height: 25px;
      color: #939CAA;
      margin-top: 24px;
      font-family: 'Lexend Deca';
}

@media only screen and (max-width: 576px) {
      .container{
            width: 85%;
      }
}