// .header{
//       position: relative;
// }
.nav{
      display: flex;
      align-items: center;
      justify-content: space-between;// fixed qilyapturganda olish kk
      height: 100px;
      // border: 1px solid;
      width: 100%;
      // position: fixed;
}

.nav-list{
      display: flex;
      // border: 1px solid;
      .logo{
            text-decoration: none;
            color: #495567;
            font-size: 30px;
      }
}

.navbar{
      list-style: none;
      display: flex;
      align-items: center;
      margin-left: 26px;
     

      .navbar__item{
            margin-left: 32px;
            color: #939CAA;
            transition: 0.3s;
      }
      .navbar__item:hover{
            color: #FCB72B;
      }
}

.all-btn{
      border: 3px solid #FCB72B;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      background-color: #FCB72B;
      height: 50px;
      width: 195px;
      transition: 0.3s;
}

// .nav__btn{
//       position: absolute;
//       right: 0px;
// }
.all-btn:hover{
      background-color: transparent;
      color: #FCB72B;
}

@media only screen and (max-width: 768px) {
      .all-btn{
            width: 150px;
      }
      .navbar{
            margin-left: 18px;
            .navbar__item{
                  margin-left: 24px;
            }
      }

}

.menu-icon{
      display: none;
}
.navbar-phone{
      display: none;
}

@media only screen and (max-width: 576px) {
      .navbar{
            display: none;
      }
      .nav__btn{
            display: none;
      }
      .nav{
            height: 80px;
      }
      .nav-list{
            width: 58%;
            justify-content: space-between;
            align-items: center;
      }
      .menu-icon{
            display: block;
            width: 20px;
            height: 16px;
      }
      // .menu-icon:hover + .navbar-phone{
      //       display: block;
      //       list-style: none;
      // }

      
}
