.main-left-1{
      .main-left-1__btn{
            margin-top: 40px;
      }
}
.main-right-1{
      .women-img{
            border-radius: 50%;
            width: 445px;
      }
      .main-right-1__circle{
            margin-top: -455px;
            margin-left: 480px;
      }
      .main-right-1__ST{
            width: 734px;
            position: relative;
            right: 100px;
            top: -140px;
      }
}
@media only screen and (max-width:992px) {
      .main-right-1{
            .women-img{
                  margin-left: 0;
            }
            .main-right-1__circle{
                  margin-left: 510px;
            }
            .main-right-1__ST{
                  right: 0px;
                  margin-bottom: 50px;
            }
      }
}
@media only screen and (max-width:576px) {
      .main-right-1{
            .women-img{
                  width: 311px;
            }
            .main-right-1__circle{
                  display: none;
            }
            .main-right-1__ST{
                  right: 10px;
                  top: -110px;
                  width: 600px;
            }
      }
}
/*2-qatorni boshladik*/
.main-left-2__btn{
      margin-top: 40px;
}
.main-right-2{
      margin-left: 100px;
      margin-top: 100px;
      .city-main{
            border-radius: 50%;
            width: 445px;
            margin-top: -445px;  
            margin-bottom: 5px;
      }
      .main-right-2__circle{
            margin-top: -10px;
            margin-left: -500px;
      }
      .main-right-2__ST{
            position: relative;
            top: -445px;
            left: -180px;
      }
}
@media only screen and (max-width:992px) {
    .main-right-2{
      .main-right-2__ST{
            left: -250px;
            width: 400px;
      }
    }  
}
@media screen and (max-width:768px) {
      .main-right-2{
            .main-right-2__ST{
                  left: -210px;
            }
          }  
}
@media screen and (max-width:576px) {
      .main-right-2{
            .city-main{
                  width: 311px;
                  margin-top: 0;
            }
            .main-right-2__circle{
                  display: none;
            }
            .main-right-2__ST{
                  width: 350px;
                  top: -330px;
                  left: -200px;
            }
      }
}
/*3-qator boshlandi*/
.main-row-3{
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
}
.main-left-3{
      width: 445px;
      margin-left: 100px;
      .main-left-3__btn{
            margin-top: 40px;
      }
}
.main-right-3{
      width: 445px;
      max-height: 445px;
      .xamyon{
            border-radius: 50%;
            width: 445px;
            margin-top: -445px;
            margin-bottom: 5px;
      }
      .main-right-3__circle{
            margin-top: -10px;
            margin-left: 480px;
      }
      .main-right-3__ST{
            position: relative;
            right: -240px;
            top: -350px;
      }
}
@media screen and (max-width: 992px) {
      .main-row-3{
            flex-direction: column-reverse;
            justify-content: center;
      }
      .main-left-3{
            margin: auto;
            text-align: center;
            width: 573px;
            .main-3-name{
                  width: 445px;
                  margin: auto;
                  margin-top: 50px;
            }
      }
      .main-right-3{
            margin: auto;
            .main-right-3__circle{
                  margin-left: 510px;
            }
            .main-right-3__ST{
                  width: 400px;
                  right: -280px;
                  margin-bottom: 50px;
                  top: -400px;
            }
      }
}
@media only screen and (max-width:768px) {
      .main-left-3{
            width: 415px;
      }
}

@media only screen and (max-width:576px) {
      .main-left-3{
            margin-top: -120px;
            width: 100% ;
            h3{
                  width: 90%;
            }
      }
      .main-right-3{
            width: 311px;
            .xamyon{
                  width: 311px;
                  margin: auto;
            }
            .main-right-3__circle{
                  display: none;
            }
            .main-right-3__ST{
                  top:-300px ;
                  right: -150px;
                  width: 300px;
            }

      }
}