.about-intro {
      background: url("../about-img/intro-back.png") center center/cover no-repeat;

}

.about-row {

      background: rgba(#495567, 0.4);
}

.about-intro-col {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .about-intro-name {
            font-size: 56px;
            letter-spacing: -2.5px;
            color: #FFFFFF;
      }

      .intro-oval {
            margin-right: -75px;
      }
}

@media only screen and (max-width:768px) {
      .about-intro-col{
            .intro-oval{
                  margin-right: -45px;
            }
      }
}

@media only screen and (max-width: 576px) {
      .about-intro-col {
            .about-intro-name {
                  letter-spacing: -1.78571px;
                  font-size: 40px;
                  margin: auto;
            }
            .intro-oval{
                  display: none;
            }
      }

}